<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crime Bar Chart</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

    <h1>Crime Data by Province</h1>
    <div id="graph"></div>

    <script type="text/javascript">
        var graph_data = {{ graph_json | safe }};
        Plotly.newPlot('graph', graph_data.data, graph_data.layout);
    </script>

</body>
</html>