{% extends "base.html" %}

{% block content %}
<h1>Group 4 - PPR501</h1>

<div class="row">
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3 bg-opacity-75">
            <div class="card-header">Dân số</div>
            <div class="card-body">
                <h5 class="card-title">Thông tin Dân số</h5>
                <p class="card-text">Xem thông tin chi tiết về dân số tại Việt Nam.</p>
                <a href="/population" class="btn btn-light">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-white bg-warning mb-3 bg-opacity-75">
            <div class="card-header">GDP</div>
            <div class="card-body">
                <h5 class="card-title">Thông tin GDP</h5>
                <p class="card-text">Xem dữ liệu kinh tế và GDP qua các năm.</p>
                <a href="/gdp" class="btn btn-light">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-white bg-danger mb-3 bg-opacity-75">
            <div class="card-header">Thu nhập</div>
            <div class="card-body">
                <h5 class="card-title">Thông tin thu nhập</h5>
                <p class="card-text">Xem dữ liệu Tỷ lệ thất nghiệp và việc làm.</p>
                <a href="/income_chart" class="btn btn-light">Xem chi tiết</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card text-white bg-secondary mb-3 bg-opacity-75">
            <div class="card-header">Lao động</div>
            <div class="card-body">
                <h5 class="card-title">Thông tin Lực lượng lao động</h5>
                <p class="card-text">Xem dữ liệu Thu nhập trung bình và mức sống.</p>
                <a href="/labor_force_chart" class="btn btn-light">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-white bg-danger mb-3 bg-opacity-75">
            <div class="card-header">Tội phạm</div>
            <div class="card-body">
                <h5 class="card-title">Thông tin Tội phạm</h5>
                <p class="card-text">Xem dữ liệu tội phạm trên toàn quốc.</p>
                <a href="/crime_chart" class="btn btn-light">Xem chi tiết</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card text-white bg-warning mb-3 bg-opacity-75">
            <div class="card-header">Y tế</div>
            <div class="card-body">
                <h5 class="card-title">Thông tin Y tế</h5>
                <p class="card-text">Xem dữ liệu về hệ thống y tế và chăm sóc sức khỏe.</p>
                <a href="/medical_chart" class="btn btn-light">Xem chi tiết</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card text-white bg-info mb-3 bg-opacity-75">
            <div class="card-header">Địa phương</div>
            <div class="card-body">
                <h5 class="card-title">Thông tin du lịch địa phương</h5>
                <p class="card-text">Xem dữ liệu doanh thu du lịch theo địa phương.</p>
                <a href="/dt_diaphuong" class="btn btn-light">Xem chi tiết</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card text-white bg-secondary mb-3 bg-opacity-75">
            <div class="card-header">Vùng miền</div>
            <div class="card-body">
                <h5 class="card-title">Thông tin du lịch vùng miền</h5>
                <p class="card-text">Xem dữ liệu tổng doanh thu du lịch theo vùng miền.</p>
                <a href="/dt_vungdiaphuong" class="btn btn-light">Xem chi tiết</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
