    {% extends "base.html" %}

    {% block content %}

    <h1>Biểu đồ thu nhập</h1>

    <div class="form-group mb-3">
        <label for="year-select">Chọn năm:</label>
        <form method="GET" action="/income_chart">
            <select id="year-select" name="year" class="form-select" onchange="this.form.submit()">
                <option value="2021" {% if selected_year == '2021' %}selected{% endif %}>2021</option>
                <option value="2022" {% if selected_year == '2022' %}selected{% endif %}>2022</option>
                <option value="Sơ bộ 2023" {% if selected_year == 'Sơ bộ 2023' %}selected{% endif %}>Sơ bộ 2023</option>
            </select>
        </form>
    </div>

    <canvas id="barChart" width="200" height="200"></canvas>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var ctx = document.getElementById('barChart').getContext('2d');

        // Chuyển đổi dữ liệu từ Flask thành JSON trong JavaScript
        var data = {{ data | tojson }};
        console.log(data);
        
        var provinces = data.provinces;
        var updatingMoney = data.money.map(item => parseFloat(item.replace(',', '').replace('.', '')));
        console.log(updatingMoney);
        
        var barChart = new Chart(ctx, {
            type: 'bar',  // Thay đổi loại chart thành 'bar'
            data: {
                labels: provinces,
                datasets: [{
                    label: 'Bình quân mức thu nhập',
                    data: updatingMoney,
                    backgroundColor: [
                        'rgba(44, 245, 125, 0.5)',
                    ],
                    borderColor: [
                        'rgba(44, 245, 125, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true  // Đảm bảo trục y bắt đầu từ 0
                    }
                }
            }
        });

    </script>
{% endblock %}