{% extends "base.html" %}

{% block content %}
    <h1>Biểu đồ Lực lượng Lao động</h1>

    <div class="form-group mb-3">
        <label for="year-select">Chọn năm:</label>
        <form method="GET" action="/labor_force_chart">
            <select id="year-select" name="year" class="form-select" onchange="this.form.submit()">
                <option value="2021" {% if selected_year == '2021' %}selected{% endif %}>2021</option>
                <option value="2022" {% if selected_year == '2022' %}selected{% endif %}>2022</option>
                <option value="Sơ bộ 2023" {% if selected_year == 'Sơ bộ 2023' %}selected{% endif %}>Sơ bộ 2023</option>
            </select>
        </form>
    </div>
    
    <canvas id="lineChart" width="800" height="400"></canvas>
    <script>
        // Chuyển đổi dữ liệu từ Flask thành JSON trong JavaScript
        var data = {{ data | tojson }};
        
        // Tách dữ liệu thành các mảng riêng biệt cho trục X và Y
        var provinces = data.map(item => item[0]);
        var laborForces = data.map(item => parseFloat(item[1])); // Chuyển đổi số liệu từ string thành float

        var ctx = document.getElementById('lineChart').getContext('2d');
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: provinces,
                datasets: [{
                    label: 'Lực lượng lao động cao',
                    data: laborForces,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Tỉnh/Thành'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Lực lượng Lao động'
                        },
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    <canvas id="lineChartAsc" width="800" height="400" class="mt-5"></canvas>
    <script>
        // Chuyển đổi dữ liệu từ Flask thành JSON trong JavaScript
        var data_asc = {{ data_asc | tojson }};
        
        // Tách dữ liệu thành các mảng riêng biệt cho trục X và Y
        var provinces_asc = data_asc.map(item => item[0]);
        var laborForces_asc = data_asc.map(item => parseFloat(item[1])); // Chuyển đổi số liệu từ string thành float

        var ctx = document.getElementById('lineChartAsc').getContext('2d');
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: provinces_asc,
                datasets: [{
                    label: 'Lực lượng lao động thấp',
                    data: laborForces_asc,
                    borderColor: 'rgba(245, 40, 145, 1)',
                    backgroundColor: 'rgba(245, 40, 145, 0.2)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Tỉnh/Thành'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Lực lượng Lao động'
                        },
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}